/* Extra Extra large devices (large desktops, 1600px and up) */
@media (min-width: 1600px) {
  .banner-category-title {
    font-size: 56px;
  }
  .banner-slider {
    height: 650px;
  }

  .banner-category {
    height: 500px;
  }
}

/* Extra large devices (large desktops, 1300px and up) */
@media (min-width: 1300px) and (max-width: 1599.98px) {
  .banner-category-title {
    font-size: 48px;
  }
  .banner-slider {
    height: 600px;
  }
    .banner-category {
    height: 485px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1299.98px) {
  .banner-category-title {
    font-size: 38px;
  }
  .banner-slider {
    height: 540px;
  }
    .banner-category {
    height: 480px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 995px) and (max-width: 1199.98px) {

     .section-projects{
          padding-inline: 12px;
    }
  .banner-category-title {
    font-size: 32px;
  }

 .banner-slider {
    height: 480px;
  }

  .banner-category {
    height: 450px;
  }
}

@media (min-width: 800px) and (max-width: 994.98px) {

     .section-projects{
          padding-inline: 12px;
    }
  .banner-category-title {
    font-size: 28px;
  }
  .banner-slider {
    height: 420px;
  }
  .banner-category {
    height: 420px;
  }
}

@media (min-width: 768px) and (max-width: 799.98px) {
    .banner-category-title {
        font-size: 22px;
    }
    .banner-slider {
    height: 380px;
  }
  .banner-category {
    height: 380px;
  }
}

/* Extra small devices (portrait phones, less than 768px) */
@media (max-width: 767.98px) {
    :root {
        --swiper-navigation-sides-offset: 5px;
    }

    .banner-category {
        height: 300px;
    }
    .banner-slider {
        height: 350px;
    }

    .about-image {
        border-top-left-radius: 22px;
        border-top-right-radius: 22px;
    }

    .banner-category-title {
        font-size: 20px;
    }
}

@media (max-width: 1024px) {
  .location-section {
    padding: 30px;
  }

  .info-panel {
    padding: 40px 28px;
  }

  .map-panel {
    height: 420px;
  }
}

@media (max-width: 900px) {

  .location-card {
    grid-template-columns: 1fr;
  }

  .btn-brochure {
    padding: 8px;
    font-size: 0.9rem;
    background: #e05d0c;
    color: #fff;
    border-color: #e05d0c;
    margin: 1px;
  }

  .contact-bar {
    padding: 16px 24px;
  }

  .contact-content {
    flex-wrap: wrap;
    font-size: 18px;
    gap: 8px;
  }

  .about-text {
    max-width: 100%;
  }

  .about-text h1 {
    font-size: 32px;
  }

  .about-text h1 span {
    font-size: 26px;
  }

  .about-image {
    height: 360px;
  }
}

@media (max-width: 800px) {
     .estadistica-numero{
        font-size: 44px;
    }
    .btn-download {
        font-size: 0.9rem;
    }
 .about-section {
    grid-template-columns: 1fr;
    gap: 35px;
    padding: 45px 24px 0px 24px;
  }
}

@media (max-width: 600px) {

      .estadistica-label {
        font-size: 15px;
    }

     .estadistica-numero{
        font-size: 40px;
    }
     .section-projects{
        padding-block: calc(var(--spacing) * 8);
    }

    .btn-download {
        font-size: 0.85rem;
    }

  .location-section {
    padding: 20px;
  }

  .info-panel h1 {
    font-size: 24px;
  }

  .category-grid {
    grid-template-columns: 1fr;
  }

  .category-btn:nth-child(5) {
    grid-column: auto;
  }

  .category-btn {
    height: 74px;
    font-size: 18px;
  }

  .map-panel {
    height: 360px;
  }
}

@media (max-width: 480px) {

    .estadistica-label {
        font-size: 14px;
    }
    .estadistica-numero{
        font-size: 36px;
    }
    .section-projects{
        padding-block: calc(var(--spacing) * 10);
    }

    .btn-download {
        font-size: 0.8rem;
    }

  .contact-content {
    font-size: 16px;
  }

  .about-text h1 {
    font-size: 29px;
  }

  .about-text h1 span {
    font-size: 23px;
  }

  .about-text p {
    font-size: 15px;
    text-align: left;
  }

  .btn-projects {
    font-size: 16px;
    padding: 12px 28px;
  }

  .about-image {
    height: 300px;
  }
}
